<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
        rel="stylesheet"
    />

    <title>Projeto 1 - Matador de Monstros</title>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life" :class="{caution: playerLife < 60 && playerLife >= 20, danger: playerLife < 20}" :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife.toFixed(0) }}%</div>
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life" :class="{caution: monsterLife < 60 && monsterLife >= 20, danger: monsterLife < 20}" :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{ monsterLife.toFixed(0) }}%</div>
            </div>

        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife === 0" class="win"> Você Ganhou!!! :D</div>
            <div v-else class="lose">Você Perdeu :(</div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack" @click="attack(false)">Ataque</button>
                <button class="btn special-attack" @click="attack(true)">Ataque Especial</button>
                <button class="btn heal" @click="heal">Curar</button>
                <button class="btn give-up" @click="giveUp">Desistir</button>
            </template>
            <button v-else class="btn new-game" @click="beginGame">Iniciar Jogo</button>
        </div>
        <div v-if="logs.length" class="panel logs">
            <ul>
                <li v-for="log in logs" class="log" :class="log.cls">
                    {{log.text}}
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./app.js"></script>
</html>